---

- path: ''
  name: current_version

- path: ''
  name: ".travis.yml"

- path: ''
  name: ".gitignore"

- path: ''
  name: docker-compose.yaml

- path: ''
  name: Dockerfile

- path: ''
  name: test_requirements.txt

- path: {{project_name}}
  name: __init__.py

- path: {{project_name}}
  name: __init__.py

- path: {{project_name}}
  name: requirements.txt

- path: {{project_name}}
  name: start.py
- path: test
  name: __init__.py

- path: test
  name: pylint.conf

- path: test
  name: test_start.py
