version: '2'

services:

  test_host:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./{{project_name}}/:/home/root/pauls-ci/{{project_name}}
    ports:
      - "5000:5000"

